<div class="commentSide">
<div class="comment clearfix">
  <div class="comment_content">
    <!-- <p class="comment_email"><%= comment.email %></p> -->
    <br>
    <p class="comment_body">"<%= comment.body %>"</p>
    <p class="comment_time"><%= time_ago_in_words(comment.created_at) %>Ago</p>
  </div>
  <p>
    <% if can? :update, comment %>
    <%= link_to 'Delete', [comment.roast, comment], method: :delete, class:"button",
    data:{ confirm: "Are you sure?"} %>
    <% end %>

  </p>
  <p>
    <%= link_to like_comment_path(comment), class:"like", method: :put do %>
    <button type="button" class="btn btn-info" aria-label="left Align"><spanclass="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
      <span class="badge"><%= comment.get_upvotes.size %></span>
    </button>
    <% end %>
    <%= link_to unlike_comment_path(comment), class:"like", method: :put do %>
    <button type="button" class="btn btn-info" aria-label="left Align"><spanclass="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="false"></span>
      <span class="badge"><%= comment.get_downvotes.size %></span>
    </button>
    <% end %>
  </p>
</div>
</div>
