<div>
<p id="notice"><%= notice %></p>
<p>
  <%= image_tag @roast.image %>
</p>

<p>
  <strong>Body:</strong>
  <%= @roast.body %>
</p>

<%= render 'comments/comment' %>

<%= link_to 'Edit', edit_roast_path(@roast) %> |
<%= link_to 'Back', roasts_path %>
