<%= render "layouts/header" %>

<div class="container">
<div class="row">
  <div class="col-sm-6">
    <p><h1 id="showBody"><%= @roast.body %></h1>
      <div class="showRoastImage">
      <%= image_tag @roast.image, size:"350x300" %>
      </div>
    </p>
    <%= render "comments/form" %>
  </div>

  <div class="col-sm-6" id="comments">
  <h1 class="commentSide">Total Roasts: <%= @roast.comments.count %></h1>
<% @roast.comments.each do |comment| %>
    <% if comment.persisted? %>
      <%= render 'comments/comment', comment: comment %>
    <%end%>
<%end%>
      <%#= render partial: 'comments/comment', @roast.comments %>



    </div>
  </div>
</div>
