<%= render "layouts/header" %>


<!-- <p class="showImage">
  <h1>  <%= @roast.body %></h1>
  <%= image_tag @roast.image %>
</p>
<div>
-->



<div class="container">


<div class="row">
  <div class="col-sm-8">
    <p class="showImage">

      <h1>  <%= @roast.body %></h1>
      <h2><%= @roast.comments.count %>Roasts</h2>
      <%= image_tag @roast.image %>
    </p>
    <%= render "comments/form" %>


  </div>

  <div class="col-sm-4" id="comments" >
<%# byebug %>
<% @roast.comments.each do |comment| %>
    <% if comment.persisted? %>
      <%= render 'comments/comment', comment: comment %>
    <%end%>
<%end%>
      <%#= render partial: 'comments/comment', @roast.comments %>



    </div>
  </div>
</div>


<%= link_to 'Edit', edit_roast_path(@roast) %> |
<%= link_to 'Back', roasts_path %>
